<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="~/Content/css/bootstrap1.css" rel="stylesheet">
    
    <script type="text/javascript" src="~/Scripts/login.js"></script>
    <script>

        //{"background":"linear-gradient(to right, #085078 , #85D8CE)"}

        $(document).ready(function () {


            var i = 0;
            $(".panel").hide(10);
            $("div:last").hide(10);
            setInterval(function () {
                $(".panel").slideDown("swing");
            }, 30);

            setInterval(function () {
                if (i == 0) {
                    $("div.ab").fadeOut(2000);
                    $("div.abc").fadeIn(2000);
                    i++;
                }
                else if (i == 1) {
                    $("div.abc").fadeOut(2000);
                    $("div.ab").fadeIn(2000);
                    i--;
                }
            }, 3000);
        });


    </script>
    <style>
        .navbar-fixed-top {
            height: 14px; /* Whatever you want. */
        }

        overlay {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 10;
        }

        .ab {
            background: linear-gradient(to right, #A8CABA, #5D4157);
            margin: 0;
            padding: 0;
            width: 1366px;
            height: 720px;
            margin-top: -45px;
            position: absolute;
            z-index: -1;
        }

        .abc {
            position: absolute;
            background: linear-gradient(to right, #A8CABA, #5D4157);
            margin: 0;
            padding: 0;
            width: 1366px;
            height: 720px;
            margin-top: -45px;
            z-index: -1;
            clear: both;
        }

        .panel {
            z-index: 13;
        }

            .panel:hover {
                box-shadow: 0 3px 20px rgba(0, 0, 0, 0.12);
            }
    </style>

</head>
<body>
    <div class="ab"></div>
    <div class="abc"></div>
    <nav class="navbar navbar-default navbar-fixed-top" id="main-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                <li><a href="/Admin/Home"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                <li><a href="/viewBooks/viewBooks"><span class="glyphicon glyphicon-book" style="margin-right:4px"></span>VIEW BOOKS</a></li>
                <li><a href="/AddBooks/AddBooks"><span class="glyphicon glyphicon-book" style="margin-right:4px"></span>ADD BOOKS</a></li>
                <li><a href="/AddCategory/categoryForm"><span class="glyphicon glyphicon-file"></span>ADD CATETORY</a></li>
                <li><a href="/ViewUserRequest/viewRequest"><span class="glyphicon glyphicon-file"></span>VIEW REQUESTS</a></li>
                <li><a href="/ViewAllUsers/viewUser"><span class="glyphicon glyphicon-user" style="margin-right:4px"></span>VIEW ALL USERS</a></li>
                <li><a href="/ViewRecords/viewIssueRecord"><span class="glyphicon glyphicon-file"></span>VIEW RECORDS</a></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @{
                            if (Session["id"] != null)
                            {
                                <li>
                                    @HttpContext.Current.Session["id"].ToString()
                            </li>
                            }

                        }

                    </ul>
                </li>
                <li><a href="/Login/logout" style="background-color: #A8CABA; margin-right: 10px; ">Logout</a></li>
            </ul>
        </div>
    </nav>

    @RenderBody()
    

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/css/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/add_category.js"></script>		
    <script type="text/javascript" src="~/Scripts/add_books.js"></script>

</body>
</html>